@model UI.Models.forgotpassword
@{
    Layout = "~/Views/Shared/_loggedin.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
      <span class="">Change Password <span style="font-weight: normal;"></span>
       </span>

      <ul>

           <li class="listRow jobrow"  >
                   <div class="jobbox" style="padding: 5px 2px; height:250px">
                      <div>
           <form class="form-horizontal">
               

            <div class="email-user">
            <label class="email-label" for="">Email:</label>
               <div class="emailid" >
                @Html.LabelFor(m=>m.useremail)
               </div>     
              </div>
            <div class="control-group">  
            <label class="control-label" for="input01">Old Password :</label>  
            <div class="controls">  
               @Html.TextBoxFor(m=>m.oldpassword, new { @class = "input-text", name = "password", id = "oldpassword", placeholder = "Enter Your Old Password",autocomplete="off" })
            </div>  
          </div>  
       <div class="control-group">  
            <label class="control-label" for="input01">New Password :</label>  
            <div class="controls"> 
                 @Html.TextBoxFor(m => m.newpassword, new { @class = "input-text", name = "password", id = "newpassword", placeholder = "Enter Your New Password",autocomplete="off" })
              
                </div>  
          </div>  
                   <div class="control-group" style="float:left">  
                    <div class="controls">
                         <input type="submit" id="changepassword-btn" class="btn-green btn-flat pull-right" style="margin-left: 10px;" value="Change Password" />
                </div>
                       </div>
          </form>
    </div>
                        </div>
                    <div style="width: 30%; margin-left: 10px;" class="pull-left">
                </div>
      </ul>
        </div>
         <span class="">Jobs <span style="font-weight: normal;"></span>
       </span>
            <ul>
            <li class="listRow jobrow"  >
                 <div class="jobbox" style="padding: 5px 2px; height:200px">
                    <div class="jobbox1" style="height:50px">
                           <span>Create</span>
                          <div class="jobbox2" style="height:50px;width:250px">
                              </div>                          
                                <div class="jobbox3" style="width:230px;">                          
                                     <input type="text" placeholder="" />
                                    </div>
                                <div class="jobbox3" style="width:230px">  
                                     <input type="text" placeholder="" />
                                </div>
                            <div class="jobbox3" style="width:230px">  
                                     <input type="text" placeholder="" />
                                </div>
                        </div>
                        <div class="jobbox1" style="height:50px">
                            <span>Modify</span>
                            <div class="jobbox2" style="height:50px;width:250px">
                            </div>
                           
                                <div class="jobbox3" style="width:230px;">                          
                                     <input type="text" placeholder="" />
                                </div>
                                <div class="jobbox3" style="width:230px">  
                                     <input type="text" placeholder="" />
                                </div>
                                <div class="jobbox3" style="width:220px">  
                                     <input type="text" placeholder="" />
                                </div>
                        </div>
                          <div class="jobbox1" style="height:50px">
                            <span>View</span>
                            <div class="jobbox2" style="height:50px;width:250px">
                              </div>
                           
                                <div class="jobbox3" style="width:230px;">                          
                                     <input type="text" placeholder="" />
                                    </div>
                                <div class="jobbox3" style="width:230px">  
                                     <input type="text" placeholder="" />
                                </div>
                            <div class="jobbox3" style="width:220px">  
                                     <input type="text" placeholder="" />
                                </div>
                        </div>
                              <div class="jobbox1" style="height:50px">
                            <span>Delete</span>
                            <div class="jobbox2" style="height:50px;width:250px">
                              </div>
                           
                                <div class="jobbox3" style="width:230px;">                          
                                     <input type="text" placeholder="" />
                                    </div>
                                <div class="jobbox3" style="width:230px">  
                                     <input type="text" placeholder="" />
                                </div>
                            <div class="jobbox3" style="width:220px">  
                                     <input type="text" placeholder="" />
                                </div>
                        </div>
                      </div>
                       
                 </li> 
             </ul>

         <span class="">Mailing Lists <span style="font-weight: normal;"></span>
       </span>
            <ul>

            <li class="listRow jobrow"  >
                 <div class="jobbox" style="padding: 5px 2px; height:200px">
                    <div class="jobbox1" style="height:50px">
                           <span>Create</span>
                          <div class="jobbox2" style="height:50px;width:250px">
                              </div>
                           
                                <div class="jobbox3" style="width:230px;">                          
                                     <input type="text" placeholder="" />
                                    </div>
                                <div class="jobbox3" style="width:230px">  
                                     <input type="text" placeholder="" />
                                </div>
                            <div class="jobbox3" style="width:230px">  
                                     <input type="text" placeholder="" />
                                </div>
                        </div>
                        <div class="jobbox1" style="height:50px">
                            <span>Modify</span>
                            <div class="jobbox2" style="height:50px;width:250px">
                              </div>
                           
                                <div class="jobbox3" style="width:230px;">                          
                                     <input type="text" placeholder="" />
                                    </div>
                                <div class="jobbox3" style="width:230px">  
                                     <input type="text" placeholder="" />
                                </div>
                            <div class="jobbox3" style="width:220px">  
                                     <input type="text" placeholder="" />
                                </div>
                        </div>
                          <div class="jobbox1" style="height:50px">
                            <span>View</span>
                            <div class="jobbox2" style="height:50px;width:250px">
                              </div>
                           
                                <div class="jobbox3" style="width:230px;">                          
                                     <input type="text" placeholder="" />
                                    </div>
                                <div class="jobbox3" style="width:230px">  
                                     <input type="text" placeholder="" />
                                </div>
                            <div class="jobbox3" style="width:220px">  
                                     <input type="text" placeholder="" />
                                </div>
                        </div>
                              <div class="jobbox1" style="height:50px">
                            <span>Delete</span>
                            <div class="jobbox2" style="height:50px;width:250px">
                              </div>
                           
                                <div class="jobbox3" style="width:230px;">                          
                                     <input type="text" placeholder="" />
                                    </div>
                                <div class="jobbox3" style="width:230px">  
                                     <input type="text" placeholder="" />
                                </div>
                            <div class="jobbox3" style="width:220px">  
                                     <input type="text" placeholder="" />
                                </div>
                        </div>
                      </div>
        </li>
                </ul>
  
        <script>
            $('#changepassword-btn').click(function () {
                $.ajax({
                    url: "/Settings/ChangePassword",
                    type: "POST",
                    dataType: "JSON",
                    data: {
                        oldpassword: $('#oldpassword').val(),
                        newpassword: $('#newpassword').val(),
                    },
                    async: false,
                    success: function (data) {

                    },
                    error: function (data) {
                    }

                });
            });
</script>
          </body>
</html>
