@{
    ViewBag.Title = "Import";
    ViewBag.highlight = "contacts";
    Layout = "~/Views/Shared/_JobPortalMasterView.cshtml";
}

<div style="clear: both;">
    <div class="pull-left">
        <span class="pageheader">Import Contacts</span>
    </div>
    <div class="pull-right">
        <a href="/contacts" class="btn btn-info btn-grey btn-flat">View Contacts</a>
    </div>
</div>
<legend style="padding-top: 20px;"></legend>

<div class="row">
     <div class="span8 hide">
        <span id="contactimport-activator" class="btn btn-info btn-grey btn-flat">Import Contacts</span>
    </div>
     <div id="contactimport-box" class="pull-left span">
        <span ><span id="contactimporterproxy" class="btn btn-info btn-green btn-flat">Browse File</span><span id="addedfilename" style="margin-left:15px;">No File Added</span></span>
        <input type="file" id="contactimporter" class="hide" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
        @*<input type="file" id="mailaddressimporter" class="hide" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel,text/comma-separated-values, text/csv, application/csv"/>*@
        <script>
            $(document).ready(function () {

                $('#contactimport-activator').click(function () {
                    $('#contactimport-box').show();
                });


                $('#contactimporterproxy').click(function () {
                    $('#contactimporter').click();
                });

                $("#contactimporter").change(function () {
                    var fileName = $('input[type=file]').val().replace(/.*(\/|\\)/, '');
                    var clean = fileName.split('\\').pop(); // clean from C:\fakepath OR C:\fake_path 
                    $('#addedfilename').text(clean);
                });
            });
        </script>
    </div>
     <div class="span3 pull-left" style="clear:both;">
        @using (Html.BeginForm("import", "contacts", FormMethod.Post, new { style = "clear:both;" }))
        {
            @*<div>
                <input id="newmaillistname" type="text" placeholder="Enter Mailing List Name" />
            </div>*@
            <div>
                <ul>
                    
                </ul>
                <div class="well" style="margin-top:25px;width:100%;">
                    <span>No Contacts were Imported</span>
                </div>
            </div>
            <input type="hidden" id="maildata" />
            <div>
                <span class="btn btn-green btn-info btn-flat hide" >Import Contacts</span>
                <input type="submit" class="btn btn-green btn-info btn-flat hide" value="Create List" />
            </div>
        }
    </div>
   
  
   
</div>