<div class="topbarmenu" style="padding: 5px 0px 25px 0px;">
    <div class="">
        <ul class="nav nav-pills levelone">
            <li class="active" data-childmenuset="expense">
                <a>Requirements</a>
            </li>
            <li class="" data-childmenuset="invoice">
                <a>Contacts</a>
            </li>
            <li class="" data-childmenuset="customer">
                <a>Bulk Mail</a>
            </li>
        </ul>
    </div>
    <div class="">
        <ul class="nav nav-pills leveltwo hide" data-menuset="invoice">
            <li class="">
                <a href="/invoice">Jobs</a>
            </li>
            <li class="">
                <a href="/invoice/outbound">Candidates</a>
            </li>
            <li class="">
                <a href="/invoice/inbound">Promotions</a>
            </li>
        </ul>
    </div>
    <div class="">
        <ul class="nav nav-pills leveltwo hide" data-menuset="expense">
            <li class="">
                <a href="/payments">My Contacts</a>
            </li>
            <li class="">
                <a href="/payments/add">Shared Contacts</a>
            </li>
            <li class="">
                <a href="/Customer">Contact Requests</a>
            </li>
        </ul>
    </div>
    <div class="">
        <ul class="nav nav-pills leveltwo hide" data-menuset="customer">
            <li class="">
                <a href="/Customer">Customers</a>
            </li>
        </ul>
    </div>
</div>
