<div class="topbarmenu well" style="padding: 5px 0px 1px 0px;margin:0px auto;">
    <div class="container-fluid" >
        <ul class="nav nav-pills levelone">
            <li class="active" data-childmenuset="expense">
                <a>Expenses</a>
            </li>
            <li class="" data-childmenuset="invoice">
                <a>Invoices</a>
            </li>
            <li class="" data-childmenuset="customer">
                <a>Customers</a>
            </li>
        </ul>
    </div>
    @*<div class="">
        <ul class="nav nav-pills leveltwo hide" data-menuset="jobs">
            <li class="">
                <a href="/jobs">All Jobs</a>
            </li>
            <li class="">
                <a href="/jobs/requirements">Requirements</a>
            </li>
            <li class="">
                <a href="/jobs/promotions">Promotions</a>
            </li>
        </ul>
    </div>
    <div class="">
        <ul class="nav nav-pills leveltwo hide" data-menuset="contacts">
            <li class="">
                <a href="/contacts">My Contacts</a>
            </li>
            <li class="">
                <a href="/contacts/shared">Shared Contacts</a>
            </li>
            <li class="">
                <a href="/contacts/Requests">Contact Requests</a>
            </li>
        </ul>
    </div>*@
    @*<div class="">
        <ul class="nav nav-pills leveltwo hide" data-menuset="mailinglist">
            <li class="">
                <a href="/Customer"></a>
            </li>
        </ul>
    </div>*@
</div>
